__pycache__/
.vscode/
*.pyc
*.pyo
*.pyd
env/
venv/
dist/
build/
models/
*.egg-info/
# latex intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm